<%= link_to "Home", root_path %>
<div id="nation_welcome", align="center">
  <h1><%= @nation %></h1>
  <p>There are <%= @count %> characters for the <%= @nation %></p>
</div>

<div id="people", align="center">
  <% @persons.each do |person| %>
    <img src="<%= h(person.photoUrl) %>" >
    <h3><%= person.name %></h3>
    <p><%= person.affiliation %></p>
    <b>Allies:</b>
    <% person.allies.each do |ally| %>
      <p><%= ally %></p>
    <% end %>
    <b>Enemies:</b>
    <% person.enemies.each do |enemy| %>
      <p><%= enemy %></p>
    <% end %>
  <% end %>
</div>